@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* styling for svg*/
path {
    stroke: white;
    fill:lightblue !important;

    transition: fill .4s ease;
}

path:hover {
    fill: rgba(59, 114, 159) !important;
}

#us-map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
}

#details-box {
    padding: 1rem;
    border-radius: 8px;
    font-size: 16px;
    position: fixed;
    color: black;
    font-family: "Poppins";
    background-color: rgb(238, 231, 231);
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}


<!--making use of Internal styling-->

  {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }    

  body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background-color: rgb(177, 175, 175);
  }

  /* Styles for header and navigation*/
  nav {
   background-color: rgba(53, 60, 37, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
   height: 100px;
    }

  .logo {
    flex: 1;
   padding:10px 00px;
    }

  .item {
    display: flex;
    align-items: center;
    gap: 100px;
    }
   .item li {
    padding: 0px 0px;
   font-size: 16px;
    }

  #itemlist {
  display: none;
  }        
         
   #about {
  cursor: pointer;
  }

   #subitem li {
  list-style-type: none;
  }
              
    .item a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    }		
      
     .item a:hover {
     color: rgb(128, 41, 0);
     }   
   /*Styleing for summary stats*/
   .container {
   max-width: 200rem;
   margin: 1rem auto;
   padding: 10px 1rem;      
   position: right; 
   top: 50; 
   right: 0; 
   height: 5%;
   border: 1px solid black;
   }      
         
   .summary-heading {
   color: black;
   font-size: 22px;
   margin-bottom: 0.3rem;
   }

   .summary {
   color: black;
   font-size: 20px;
   margin-bottom: 0.9rem;
   }

     /*Style for footer*/
   .footer {
   background-color: rgba(53, 60, 37, 0.8);
   color: white;
   text-align: center;
   padding: 20px 0; 
   }

   .footer ul a{
   color: white;
   font-size: 18px
   }

      
/* Style for the dis