





#itemlist {
    display: none;
    }        
           
     #about {
    cursor: pointer;
    }

     #subitem li {
    list-style-type: none;
    }
                
      .item a:link {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      }		
        
       .item a:hover {
       color: rgb(128, 41, 0);
       }   

     ul ol {font-family: Georgia, "Times New Roman", Times, serif; }
     .home {color: black;}
     .about {color: black;}
     .contact {color: black;}

     /*Styling for summary stats*/
     .container {
     max-width: 200rem;
     margin: 1rem auto;
     padding: 10px 1rem;      
     position: right; 
     top: 50; 
     right: 0; 
     height: 5%;
     border: 1px solid black;
     }      
           
     .summary-heading {
     color: black;
     font-size: 22px;
     margin-bottom: 0.3rem;
     }

     .summary {
     color: black;
     font-size: 20px;
     margin-bottom: 0.9rem;
     }

       /*Style for footer*/
     .footer {
     background-color: rgba(53, 60, 37, 0.8);
     color: white;
     text-align: center;
     padding: 20px 0; 
     }

     .footer ul a{
     color: white;
     font-size: 18px
     }

        
  /* Style for the display mining sites. concept from https://national-parks.org/ghana/kakum*/ 
     #slider-1 .slide-container {
     width: auto;
     height: auto;
      }
     .slider {
     text-align: left;
     font-family: Arial, Helvetica, sans-serif;
     }
     .slide-container {
     max-width: 100%;
     display: inline-block;
     position: relative;
     }
  
  .slides {
   display: none;
   overflow: hidden;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   border: solid 1px #a0a0a0;
  }

  .slides img {
   max-width: 100%;
   max-height: 100%;
   display: inline-block;
  }

  .slide-text {
   color: #ffffff;
   font-size: 14px;
   padding: 3px 5px;
   position: absolute;
   bottom: 0;
   border-radius: 5px;
   left: 50%;
   text-align: center;
   text-shadow: 0 0 2px #000;
   background-color: rgba(255,255,255,0.30);
   display: inline-block;
   transform: translate(-50%, -5px);
  }

  #slide-prev, #slide-next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: #fff;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   text-decoration: none;
   text-shadow: 1px 1px 5px #686868;
  }

  #slide-next {
   right: 0;
   border-radius: 3px 0 0 3px;
  }

  #slide-prev {
   left: 0;
   border-radius: 0 3px 3px 0;
  }

  #slide-prev:hover, #slide-next:hover {
   background-color: #000c;
  }

  .slide-dot-control {
   margin-top: 10px;
   text-align: center;
  }

  .slide-dot {
   cursor: pointer;
   height: 13px;
   width: 13px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
  }

  .slide-dot.dot-active {
   background-color: #717171;
  }
  .slide-number {
   color: #ffffff;
   font-size: 12px;
   padding: 4px 7px;
   position: absolute;
   border-radius: 5px;
   top: 5px;
   left: 5px;
   background-color: rgba(255,255,255,0.30);
  }

  .animated { 
   animation-name: fadeIn; 
   animation-duration: 1s;
  }

  @keyframes fadeIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  .fadeIn {
      animation-name: fadeIn;
  }    

